<h3>
  CREATURE
</h3>

<%= link_to "&larr; back".html_safe, creatures_path, :class=>"btn btn-primary btn-xs back" %>
<%= link_to "", new_creature_path, class: 'btn btn-primary btn-xs glyphicon glyphicon-plus pull-right' %>

  <div class="well">
    <p><span class = "creatures">
      Name: <%= @creature.name %></span> |
      Posted At:  <%= @creature.created_at%>
    </p>
    <p>Description: <%= @creature.description %></p>
    <div>
        <h5>Tags</h5>
          <ul>
          <% @tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
          </ul>
        </div>


  </div>